<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="this-project" value="nugets" />
    <add key="Davisol3rdPartyNuGet" value="https://pkgs.dev.azure.com/davisol/_packaging/Davisol3rdPartyNuGet/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <!--<packageSourceCredentials>
    <Davisol3rdPartyNuGet>
      <add key="Username" value="user@my-private-server.com" />
      <add key="Password" value="...my-super-secrete-password..." />
    </Davisol3rdPartyNuGet>
  </packageSourceCredentials>-->
</configuration>